.material-icons{
    font-size: 20px;
    cursor: pointer;
}

.header-new-fan-form{
    display: flex;
    justify-content: space-between;
}

.ng-untouched.ng-pristine.ng-invalid.ng-star-inserted {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.mat-card.mat-card.mat-focus-indicator{
    width: 450px;
}

.mat-card{
    margin: 10px;
}