<mat-card *ngIf="fan">
     <mat-card-header>
        <div mat-card-avatar class="header-image"  [ngStyle]="{ 'background-image': 'url(' + fan.image + ')'}" ></div>
        <mat-card-title> {{fan.name}} </mat-card-title>
        <mat-card-subtitle> {{fan.birthday | date:'d/M/yy'}} </mat-card-subtitle>
      </mat-card-header>
    <mat-card-content> 
        <label>List of musics : </label>
        <ol>
            <li *ngFor="let music of fan.musics">
                {{music}}
            </li>
        </ol> 
    </mat-card-content>
</mat-card>